@import '@carbon/grid/scss/prefix';
@import '@carbon/layout/scss/breakpoint';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/themes';
@import '@carbon/type/scss/font-family';
@import '@carbon/type/scss/styles';
@import '@carbon/type/scss/font-face/sans';
@import '@carbon/grid/scss/grid';
@import '@carbon/themes/scss/themes';

$carbon--theme: $carbon--theme--g90;

@include carbon--font-face-sans;
@include carbon--theme;

@import 'components/MoreOptions';
@import 'components/Loading';
@import 'components/Empty';
@import 'components/Main';
@import 'components/Dependencies';
@import 'components/Grid';
@import 'components/Specs';

// can we use css variables?
@mixin popup--theme {
    @include more-options;
    @include loading;
    @include empty;
    @include main;
    @include dependencies;
    @include grid;
    @include specs;

    background: $ui-background;
    color: $text-01;

    .#{$prefix}--popup__header {
        background-color: $ui-01;
    }
}

.#{$prefix}--popup {
    width: map-get(map-get($carbon--grid-breakpoints, 'sm'), 'width');
    margin-bottom: $carbon--spacing-05;

    &__header {
        padding-top: $carbon--spacing-03 - carbon--rem(1px);
        padding-bottom: $carbon--spacing-03 - carbon--rem(1px);
        margin-bottom: $carbon--spacing-05;
    }

    &__heading {
        @include carbon--type-style('productive-heading-01');
    }

    &--white {
        @include carbon--theme($carbon--theme--white) {
            @include popup--theme;
        }
    }

    &--g10 {
        @include carbon--theme($carbon--theme--g10) {
            @include popup--theme;
        }
    }

    &--g90 {
        @include carbon--theme($carbon--theme--g90) {
            @include popup--theme;
        }
    }

    &--g100 {
        @include carbon--theme($carbon--theme--g100) {
            @include popup--theme;
        }
    }

    &--v9 {
        @include carbon--theme($carbon--theme--v9) {
            @include popup--theme;
        }
    }
}