$highlight-opacity: 0.5;

.#{$prefix}--highlight {
  position: absolute;
  opacity: 0;
  transition: opacity $transition-fade, background-color $transition-fade,
    box-shadow $transition-fade;

  &--grid,
  &--specs,
  &--inventory {
    --highlight-color-type-border: transparent;
    --highlight-color-type-background: transparent;

    display: grid;
    background-color: var(--highlight-color-type-background);
    opacity: 1;

    span {
      @include carbon--type-style('expressive-paragraph-01');

      display: inline-block;
      margin: auto;
      color: map-get(map-get($carbon--colors, 'magenta'), 10);
    }
  }

  &--outline {
    background: none;
    box-shadow: inset 0 0 0 1px var(--highlight-color-type-border);
    opacity: 1;
  }

  &--inventory {
    --highlight-color-type-border: #{$inventory-color};
    --highlight-color-type-background: #{rgba(
        $inventory-color,
        $highlight-opacity
      )};
  }

  &--specs {
    --highlight-color-type-border: #{$specs-color};
    --highlight-color-type-background: #{rgba($specs-color, $highlight-opacity)};
  }

  &--grid {
    --highlight-color-type-border: #{$grid-color};
    --highlight-color-type-background: #{rgba($grid-color, $highlight-opacity)};
  }

  body:active & {
    opacity: 0;
  }
}
