/* stylelint-disable no-invalid-position-at-import-rule */
@use 'sass:map';

$prefix: 'bx-dev';
$carbonPrefix: 'bx';
$zindex: 9999999999;

$feature-flags: (
  enable-css-custom-properties: true,
);

// cleanup imports
// are all these imports still being used?
@import '@carbon/type/scss/type';
@import '@carbon/type/scss/styles';
@import '@carbon/type/scss/font-face/mono';
@import '@carbon/grid/scss/prefix';
@import '@carbon/layout/scss/breakpoint';
@import '@carbon/layout/scss/mini-unit';
@import '@carbon/grid/scss/grid';
@import '@carbon/colors/scss/colors';
@import '@carbon/themes/scss/themes';
@import '@carbon/motion/scss/motion';
@import 'carbon-components/src/globals/scss/motion';

@include carbon--type-reset();
@include carbon--font-face-mono();

$transition-in: $duration--moderate-02 carbon--motion(standard, productive);
$transition-fade: $duration--fast-02 carbon--motion(standard, productive);
$grid-color: map.get(map.get($carbon--colors, 'blue'), 60);
$inventory-color: map.get(map.get($carbon--colors, 'purple'), 50);
$specs-color: map.get(map.get($carbon--colors, 'magenta'), 50);

$themes: (
  'white': $carbon--theme--white,
  'g10': $carbon--theme--g10,
  'g80': $carbon--theme--g80,
  'g100': $carbon--theme--g100,
  'v9': $carbon--theme--v9,
);

@import 'components';

.#{$prefix}--grid--carbon-v9 {
  @import '@carbon/grid/scss/12';
}

.#{$prefix}--devtools {
  @include carbon--theme(
    $theme: $carbon--theme--g90,
    $emit-custom-properties: true
  );

  @media (prefers-color-scheme: light) {
    .#{$prefix}--system & {
      @include carbon--theme(
        $theme: $carbon--theme--g10,
        $emit-custom-properties: true
      );
    }
  }

  @each $theme in map-keys($themes) {
    .#{$prefix}--#{$theme} & {
      @include carbon--theme(
        map.get($themes, $theme),
        $emit-custom-properties: true
      );
    }
  }
}
