$grid-mini-unit-color: $grid-color;
$grid-mini-unit-opacity: $grid-color;
$grid-mini-unit-border-size: $grid-border-size;
$grid-mini-unit-border-color: $grid-border-color;
$grid-mini-unit-border-opacity: $grid-opacity;

@mixin mini-unit () {
    // mini unit grid
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: auto;
        min-height: 100vh;
        width: auto;
        display: block;
        pointer-events: none;
        z-index: 999999999;

        background-attachment: scroll;

        background-size: carbon--mini-units(1) carbon--mini-units(1);
        background-image:
        linear-gradient(to right, rgba($grid-mini-unit-border-color, $grid-mini-unit-border-opacity) $grid-mini-unit-border-size, transparent $grid-mini-unit-border-size),
        linear-gradient(to bottom, rgba($grid-mini-unit-border-color, $grid-mini-unit-border-opacity) $grid-mini-unit-border-size, transparent $grid-mini-unit-border-size);

        opacity: 0;
        transition: opacity $transition-fade;
    }

    .#{$prefix}--grid-mini-unit--fixed &::after {
        background-attachment: fixed;
    }

    .#{$prefix}--grid--mini-unit &::after {
        opacity: 1;
    }

    .#{$prefix}--grid--hide &,
    html:active &,
    &:active {
        &::after {
            opacity: 0;
        }
    }
}