@use 'sass:math';

@use '@carbon/styles/scss/config' as *;
@use '@carbon/styles/scss/grid';
@use '@carbon/styles/scss/motion';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme/theme';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/utilities/convert';

/* stylelint-disable a11y/media-prefers-reduced-motion */
@mixin main {
  .#{$prefix}--popup-main {
    width: initial;
    margin-right: math.div(grid.$grid-gutter, -2);
    margin-left: math.div(grid.$grid-gutter, -2);

    &__item > .#{$prefix}--accordion__heading {
      height: spacing.$spacing-09;

      .#{$prefix}--popup:not(.#{$prefix}--popup--experimental) &:hover:before {
        // temporary until we add more accordion items
        display: none;
      }

      .#{$prefix}--accordion {
        &__title {
          @include type.type-style('body-long-02');

          .#{$prefix}--row {
            position: absolute;
            width: 100%;
          }
        }

        &__heading {
          height: carbon--mini-units(6);

          .#{$prefix}--popup:not(.#{$prefix}--popup--experimental)
            &:hover:before {
            // temporary until we add more accordion items
            display: none;
          }
        }

        &__arrow {
          $size: carbon--rem(20px);

          width: $size;
          height: $size;
          flex: 0 0 $size;
        }
      }
    }

    &__panel {
      &.#{$prefix}--accordion__item--active > .#{$prefix}--accordion__content {
        display: none;
      }

      &,
      &.#{$prefix}--accordion__item--active {
        .#{$prefix}--accordion__arrow {
          transform: rotate(0deg);
        }
      }
    }

    legend.#{$prefix}--label {
      margin-bottom: spacing.$spacing-05;
    }

    &__info {
      position: absolute;
      top: 4px;
      padding: 0;
      border: 0;
      margin: 0;
      margin-left: carbon--mini-units(1);
      background: transparent;
      color: theme.$text-primary;
      cursor: pointer;
      opacity: 0;
      outline: none;
      transition: all motion.$duration-fast-02
        carbon--motion(standard, productive);
      visibility: hidden;

      &:focus {
        box-shadow: 0 0 0 1px theme.$focus;
      }

      svg {
        display: block;
        fill: currentColor;
      }

      .#{$prefix}--checkbox-wrapper:hover & {
        opacity: 1;
        visibility: visible;
      }
    }

    &__section {
      $border-width: carbon--rem(2px);

      position: relative;
      padding-top: spacing.$spacing-03 + $border-width;
      padding-right: math.div(grid.$grid-gutter, 2);
      padding-left: math.div(grid.$grid-gutter, 2);
      margin-top: spacing.$spacing-06;
      margin-bottom: spacing.$spacing-09;

      &:last-child {
        margin-bottom: spacing.$spacing-06;
      }

      &::before {
        position: absolute;
        top: 0;
        left: math.div(grid.$grid-gutter, 2);
        width: 100%;
        max-width: carbon--mini-units(4);
        height: $border-width;
        background-color: theme.$layer-accent;
        content: '';
      }

      &-title {
        @include type.type-style('productive-heading-02');
        // margin-bottom: spacing.$spacing-03;
        color: theme.$text-primary;
      }

      &-toggle {
        margin-top: 3px;

        .#{$prefix}--toggle__switch {
          margin: 0;
        }
      }

      .#{$prefix}--row {
        margin-bottom: 8px;
      }
    }

    &__toggle {
      margin-top: 4px;
      float: left;

      .#{$prefix}--toggle {
        &__switch {
          margin: 0;
        }
      }
    }
  }
}
