@mixin main {
  .#{$prefix}--popup-main {
    width: initial;
    margin-right: -($carbon--grid-gutter / 2);
    margin-left: -($carbon--grid-gutter / 2);

    &__item > .#{$prefix}--accordion__heading {
      height: carbon--mini-units(6);

      .#{$prefix}--popup:not(.#{$prefix}--popup--experimental) &:hover:before {
        // temporary until we add more accordion items
        display: none;
      }

      .#{$prefix}--accordion {
        &__title {
          @include carbon--type-style('body-long-02');

          .#{$prefix}--row {
            position: absolute;
            width: 100%;
          }
        }

        &__heading {
          height: carbon--mini-units(6);

          .#{$prefix}--popup:not(.#{$prefix}--popup--experimental)
            &:hover:before {
            // temporary until we add more accordion items
            display: none;
          }
        }

        &__arrow {
          $size: carbon--rem(20px);

          width: $size;
          height: $size;
          flex: 0 0 $size;
        }
      }
    }

    &__panel {
      &.#{$prefix}--accordion__item--active > .#{$prefix}--accordion__content {
        display: none;
      }

      &,
      &.#{$prefix}--accordion__item--active {
        .#{$prefix}--accordion__arrow {
          transform: rotate(0deg);
        }
      }
    }

    legend.#{$prefix}--label {
      margin-bottom: $carbon--spacing-05;
    }

    &__info {
      position: absolute;
      top: 4px;
      padding: 0;
      border: 0;
      margin: 0;
      margin-left: carbon--mini-units(1);
      background: transparent;
      color: $text-01;
      cursor: pointer;
      opacity: 0;
      outline: none;
      transition: all $duration--fast-02 carbon--motion(standard, productive);
      visibility: hidden;

      &:focus {
        box-shadow: 0 0 0 1px $focus;
      }

      svg {
        display: block;
        fill: currentColor;
      }

      .#{$prefix}--checkbox-wrapper:hover & {
        opacity: 1;
        visibility: visible;
      }
    }

    &__section {
      $border-width: carbon--rem(2px);

      position: relative;
      padding-top: $carbon--spacing-03 + $border-width;
      padding-right: $carbon--grid-gutter / 2;
      padding-left: $carbon--grid-gutter / 2;
      margin-top: $carbon--spacing-06;
      margin-bottom: $carbon--spacing-09;

      &:last-child {
        margin-bottom: $carbon--spacing-06;
      }

      &::before {
        position: absolute;
        top: 0;
        left: $carbon--grid-gutter / 2;
        width: 100%;
        max-width: carbon--mini-units(4);
        height: $border-width;
        background-color: $ui-03;
        content: '';
      }

      &-title {
        @include carbon--type-style('productive-heading-02');
        // margin-bottom: $carbon--spacing-03;
        color: $text-01;
      }

      &-toggle {
        margin-top: 3px;

        .#{$prefix}--toggle__switch {
          margin: 0;
        }
      }

      .#{$prefix}--row {
        margin-bottom: 8px;
      }
    }

    &__toggle {
      margin-top: 4px;
      float: left;

      .#{$prefix}--toggle {
        &__switch {
          margin: 0;
        }
      }
    }
  }
}
