/* stylelint-disable no-invalid-position-at-import-rule */
/* stylelint-disable a11y/media-prefers-reduced-motion */
@use 'sass:map';

// Import Carbon Tokens
@use "@carbon/react/scss/config" as *;
@use '@carbon/react/scss/breakpoint';
@use '@carbon/react/scss/fonts';
@use '@carbon/react/scss/grid';
@use '@carbon/react/scss/motion';
@use '@carbon/react/scss/spacing';
@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/type';

// Import Carbon Components
@use '@carbon/react/scss/components/overflow-menu' as *;
@use '@carbon/react/scss/components/toggle' as *;
@use '@carbon/react/scss/components/accordion' as *;
@use '@carbon/react/scss/components/skeleton-styles' as *;
@use '@carbon/react/scss/components/link' as *;
@use '@carbon/react/scss/components/checkbox' as *;
@use '@carbon/react/scss/components/number-input' as *;
@use '@carbon/react/scss/components/form' as *;
@use '@carbon/react/scss/components/tooltip' as *;
@use '@carbon/react/scss/components/tag' as *;
@use '@carbon/react/scss/components/tile' as *;
@use '@carbon/react/scss/components/content-switcher' as *;
@use '@carbon/react/scss/components/button' as *;
@use '@carbon/react/scss/components/search' as *;
@use '@carbon/react/scss/components/code-snippet' as *;
@use '@carbon/react/scss/components/notification' as *;

// // Import Devtools Components
@use 'components/MoreOptions';
@use 'components/Loading';
@use 'components/Empty';
@use 'components/Main';
@use 'components/Inventory';
@use 'components/Grid';
@use 'components/Specs';
@use 'components/ResizeBrowser';
@use 'components/PageInfo';

// @include more-options;
// @include loading;
// @include empty;
// @include main;
// @include inventory;
// @include grid;
// @include specs;
// @include resize-browser;
// @include page-info;

:root {
  @include theme.theme(themes.$g90);
}

@media (prefers-color-scheme: light) {
  :root {
    @include theme.theme(themes.$white);
  }
}

body {
  background: theme.$background;
  color: theme.$text-primary;
}

.#{$prefix}--popup {
  overflow: hidden;
  width: map.get(map.get(grid.$grid-breakpoints, 'sm'), 'width');
  padding-top: calc(0.5rem * 5);

  &__header {
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    width: 100%;
    background-color: theme.$layer-01;
    box-shadow: inset 0 1px 0 0 theme.$background;
  }

  &__heading {
    @include type.type-style('heading-compact-01');

    display: flex;
    height: 100%;
    align-items: center;
  }

  &__experimental-tag {
    min-height: initial;
    padding: 0;
    margin-left: calc(0.5rem * 1);
    font-size: 10px;
  }

  &__panel {
    $panel-transition: motion.$duration-moderate-02
      carbon--motion(standard, productive);

    width: 50%;
    transition: opacity $panel-transition;

    &:first-child {
      opacity: 1;
    }

    &:last-child {
      height: 0;
      opacity: 0;
    }

    &-container {
      position: relative;
      display: flex;
      width: 200%;
      margin-left: 0;
      transition: margin-left $panel-transition;
    }

    &--shift {
      margin-left: -100%;

      .#{$prefix}--popup__panel:first-child {
        height: 0;
        opacity: 0;
      }

      .#{$prefix}--popup__panel:last-child {
        height: initial;
        opacity: 1;
      }
    }

    &-close {
      width: 100%;
      justify-content: flex-start;

      svg {
        margin-right: carbon--mini-units(0.5);
        margin-left: -4px;
        fill: currentColor;
      }
    }

    &-title {
      @include type.type-style('productive-heading-04');

      margin-top: calc(0.5rem * 1);
    }

    &-content {
      margin-top: calc(0.5rem * 3);
      margin-bottom: calc(0.5rem * 6);
    }
  }
}

// .#{$prefix}--grid {
//   @include carbon--make-container;
// }

// .#{$prefix}--row {
//   @include carbon--make-row;
// }

// [class*='#{$prefix}--col'] {
//   @include carbon--make-col-ready;
// }

// .#{$prefix}--col-sm-1 {
//   @include carbon--make-col(1, 4);
// }

// .#{$prefix}--col-sm-2 {
//   @include carbon--make-col(2, 4);
// }

// .#{$prefix}--col-sm-3 {
//   @include carbon--make-col(3, 4);
// }

// allows nesting accordions
.#{$prefix}--accordion {
  &__item--active {
    .#{$prefix}--accordion__content {
      // all content
      display: none;
    }

    .#{$prefix}--accordion__arrow {
      // all arrows
      transform: rotate(90deg);
    }

    > .#{$prefix}--accordion__content {
      // only show direct content
      display: block;
    }

    > button .#{$prefix}--accordion__arrow {
      // only rotate arrow if direct child
      transform: rotate(-90deg);
    }
  }
}

// temporary
// inline notification override
// fixes accessible links in notification
.bx--inline-notification {
  a.bx--link {
    &:hover {
      color: theme.$highlight;
    }

    &:hover:active {
      color: theme.$link-inverse;
    }
  }
}
