@mixin grid {
  .#{$prefix}--number {
    &.#{$prefix}--number--sm {
      margin-top: $carbon--spacing-03;

      input[type='number'] {
        min-width: initial;
        padding-right: 0;
      }
    }
  }

  .#{$prefix}--content-switcher__label {
    // hack so proper title doesn't show up as `[object Object]`
    pointer-events: none;
  }
}
