@use '@carbon/styles/scss/config' as *;
@use '@carbon/styles/scss/spacing';

@mixin grid {
  .#{$prefix}--number {
    &.#{$prefix}--number--sm {
      margin-top: spacing.$spacing-03;

      input[type='number'] {
        min-width: initial;
        padding-right: 0;
      }
    }
  }

  .#{$prefix}--position-icon {
    display: block;
    fill: currentColor;
  }

  .#{$prefix}--content-switcher__label {
    // hack so proper title doesn't show up as `[object Object]`
    pointer-events: none;
  }
}
