@import 'carbon-components/scss/components/tooltip/tooltip';

.#{$prefix}--tooltip {
  @include carbon--type-style('helper-text-01');

  position: fixed;
  z-index: $zindex;
  display: block;
  min-width: initial;
  max-width: 100vw;
  padding: carbon--mini-units(1);
  margin-top: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity $transition-fade, visibility $transition-fade;
  visibility: hidden;

  &[data-floating-menu-direction='top'] {
    margin-top: -1 * carbon--mini-units(1);
  }

  &__content {
    display: flex;
    width: 100%;
  }

  &--shown {
    opacity: 1;
    visibility: visible;
  }

  &--primary {
    margin-right: carbon--mini-units(2);
    font-weight: bold;
  }

  // spec detail groups
  &-specs {
    display: flex;
    flex-wrap: wrap;

    &__eyebrow {
      @include carbon--type-style('label-01');
    }

    &__title {
      @include carbon--type-style('productive-heading-01');

      margin-right: 8px;
      margin-bottom: carbon--mini-units(1);
      float: left;
    }

    &__group {
      width: 50%;
      min-width: carbon--mini-units(30);
      padding: carbon--mini-units(1);
      padding-right: carbon--mini-units(2);

      @include carbon--breakpoint('md') {
        width: 25%;
      }

      &--single {
        width: 100%;
      }

      &--duo {
        width: 50%;
      }

      ul {
        padding: 0;
        margin: 0;
        clear: both;
        list-style-type: none;
      }

      li {
        display: flex;
        padding: 0;
        margin: 0;
      }

      li::before {
        display: none;
      }

      li:last-of-type {
        margin-bottom: 0;
      }
    }

    &__prop {
      @include carbon--type-style('code-01');

      margin-top: carbon--mini-units(0.25);
      margin-right: carbon--mini-units(1);
      font-weight: 500;
    }

    p#{&}__value {
      @include carbon--type-style('code-01');

      margin-top: carbon--mini-units(0.25);
    }

    li#{&}__warning {
      @include carbon--type-style('helper-text-01');
      $yellow: map-get(map-get($carbon--colors, 'yellow'), 30);

      padding-left: carbon--mini-units(1);
      border-left: 3px solid $yellow;
      margin-bottom: carbon--mini-units(1);
      font-weight: 500;
    }
  }

  // tooltip theme
  @mixin tooltip--theme {
    background: $ui-01;
    color: $text-01;

    .#{$prefix}--tooltip__caret {
      border-bottom-color: $ui-01;
    }

    &--secondary {
      color: $text-02;
    }

    &-specs {
      &__group {
        border-right: $carbon--grid-gutter--condensed solid $ui-01;
        border-bottom: $carbon--grid-gutter--condensed solid $ui-01;
        background-color: $ui-background;
      }

      &__warning {
        background-color: $ui-01;
        color: $text-01;
      }

      &__title,
      &__prop {
        color: $text-01;
      }

      &__name,
      &__value {
        color: $text-02;
      }
    }
  }

  @include tooltip--theme;

  @each $theme in map-keys($themes) {
    .#{$prefix}--#{$theme} & {
      @include carbon--theme(map-get($themes, $theme)) {
        @include tooltip--theme;
      }
    }
  }
}
