@use 'sass:math';

@use '@carbon/styles/scss/config' as *;
// @use '@carbon/styles/scss/breakpoint';
@use '@carbon/styles/scss/grid';
// @use '@carbon/styles/scss/fonts';
@use '@carbon/styles/scss/motion';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme/theme';
// @use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/type';

/* stylelint-disable a11y/media-prefers-reduced-motion */
@mixin inventory {
  .#{$prefix}--inventory {
    &,
    &__search {
      width: initial;
      margin-right: math.div(grid.$grid-gutter, -2);
    }

    &__meta {
      justify-content: flex-end;
      margin-bottom: spacing.$spacing-05;

      &--none {
        justify-content: flex-start;
      }

      .#{$prefix}--inventory__meta-item {
        $transition-values: motion.$duration-moderate-01
          carbon--motion('standard', 'productive');

        transition: max-width $transition-values motion.$duration-moderate-02,
          flex $transition-values motion.$duration-moderate-02;

        sub {
          @include type.type-style('body-short-01');

          position: absolute;
          // to align with bottom of value text
          bottom: 5px;
          margin-left: spacing.$spacing-05;
          opacity: 0;
          transition: opacity $transition-values, visibility $transition-values,
            margin-left $transition-values;
          visibility: hidden;
        }

        &--active {
          max-width: 50%;
          flex: 0 0 50%;
          transition: max-width $transition-values, flex $transition-values;
        }

        &--active sub {
          margin-left: spacing.$spacing-02;
          opacity: 1;
          transition: opacity $transition-values motion.$fast-02,
            visibility $transition-values motion.$fast-02,
            margin-left $transition-values motion.$fast-02;
          visibility: visible;
        }
      }

      &__title {
        color: theme.$text-secondary;
        @include type.type-style('helper-text-01');
      }

      &__value {
        position: relative;
        color: theme.$text-primary;
        font-weight: bold;
        @include type.type-style('productive-heading-05');
      }
    }

    &__empty {
      margin-top: spacing.$spacing-05;
      margin-bottom: spacing.$spacing-05;
      color: theme.$text-secondary;

      span {
        color: theme.$text-primary;
      }
    }

    &__item {
      &,
      &:last-child {
        border-color: theme.$layer-01;
      }

      &-count {
        @include type.type-style('helper-text-01');

        color: theme.$text-secondary;
        float: right;
      }

      .#{$prefix}--accordion__heading {
        padding-right: math.div(grid.$grid-gutter, 2);
      }

      .#{$prefix}--accordion__title,
      .#{$prefix}--accordion__arrow {
        color: theme.$text-secondary;
        fill: currentColor;
      }
    }

    &__sub-item {
      padding: math.div(grid.$grid-gutter, 2);
      margin-right: math.div(grid.$grid-gutter, -2);
      margin-bottom: grid.$grid-gutter;
      margin-left: math.div(grid.$grid-gutter, -2);

      &__name {
        @include type.type-style('code-01');

        padding-top: spacing.$spacing-03;
        padding-bottom: spacing.$spacing-03;
        padding-left: spacing.$spacing-05;
        border-left: 3px solid theme.$layer-accent-01;
        margin-bottom: spacing.$spacing-06;

        &__tag {
          color: theme.$text-on-color;
          font-weight: bold;
        }

        &__tag::before {
          content: '<';
        }

        &__tag::after {
          content: '>';
        }

        &__id {
          color: theme.$text-secondary;
          font-style: italic;
        }

        &__id::before {
          content: '#';
        }

        &__class {
          color: theme.$text-primary;
        }

        &__class::before {
          content: '.';
        }
      }

      &__text {
        @include type.type-style('body-short-01');

        position: relative;
        display: flex;
        margin-bottom: spacing.$spacing-05;
        // font-style: italic;
        color: theme.$text-primary;
        font-weight: bold;

        > span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &::before {
          position: absolute;
          top: 0;
          right: 100%;
          content: '“';
        }

        &::after {
          content: '”';
        }
      }

      &__unique-id {
        @include type.type-style('helper-text-01');

        color: theme.$text-placeholder;
        text-align: right;
      }
    }

    &__search {
      .#{$prefix}--search-close {
        width: spacing.$spacing-09;
      }

      .#{$prefix}--search-input {
        padding-left: spacing.$spacing-08;
      }
    }
  }
}
