@use 'sass:math';
@use "@carbon/react/scss/config" as *;
@use "@carbon/react/scss/grid";
@use "@carbon/react/scss/motion";
@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/type";

@mixin inventory {
  .#{$prefix}--inventory {
    &,
    &__search {
      width: initial;
      margin-right: math.div(grid.$grid-gutter, -2);
    }

    &__meta {
      justify-content: flex-end;
      margin-bottom: calc(0.5rem * 2);

      &--none {
        justify-content: flex-start;
      }

      .#{$prefix}--inventory__meta-item {
        $transition-values: motion.$duration-moderate-01
          carbon--motion('standard', 'productive');

        transition: max-width $transition-values motion.$duration-moderate-02,
          flex $transition-values motion.$duration-moderate-02;

        sub {
          @include type.type-style('body-short-01');

          position: absolute;
          // to align with bottom of value text
          bottom: 5px;
          margin-left: calc(0.5rem * 2);
          opacity: 0;
          transition: opacity $transition-values, visibility $transition-values,
            margin-left $transition-values;
          visibility: hidden;
        }

        &--active {
          max-width: 50%;
          flex: 0 0 50%;
          transition: max-width $transition-values, flex $transition-values;
        }

        &--active sub {
          margin-left: carbon--mini-units(0.5);
          opacity: 1;
          transition: opacity $transition-values motion.$fast-02,
            visibility $transition-values motion.$fast-02,
            margin-left $transition-values motion.$fast-02;
          visibility: visible;
        }
      }

      &__title {
        color: theme.$text-secondary;
        @include type.type-style('helper-text-01');
      }

      &__value {
        position: relative;
        color: theme.$text-primary;
        font-weight: bold;
        @include type.type-style('productive-heading-05');
      }
    }

    &__empty {
      margin-top: calc(0.5rem * 2);
      margin-bottom: calc(0.5rem * 2);
      color: theme.$text-secondary;

      span {
        color: theme.$text-primary;
      }
    }

    &__item {
      &,
      &:last-child {
        border-color: theme.$layer-01;
      }

      &-count {
        @include type.type-style('helper-text-01');

        color: theme.$text-secondary;
        float: right;
      }

      .#{$prefix}--accordion__heading {
        padding-right: math.div(grid.$grid-gutter, 2);
      }

      .#{$prefix}--accordion__title,
      .#{$prefix}--accordion__arrow {
        color: theme.$text-secondary;
        fill: currentColor;
      }
    }

    &__sub-item {
      padding: math.div(grid.$grid-gutter, 2);
      margin-right: math.div(grid.$grid-gutter, -2);
      margin-bottom: grid.$grid-gutter-condensed;
      margin-left: math.div(grid.$grid-gutter, -2);

      &__name {
        @include type.type-style('code-01');

        padding-top: calc(0.5rem * 1);
        padding-bottom: calc(0.5rem * 1);
        padding-left: calc(0.5rem * 2);
        border-left: 3px solid theme.$border-subtle-01;
        margin-bottom: calc(0.5rem * 3);

        &__tag {
          color: theme.$text-on-color;
          font-weight: bold;
        }

        &__tag::before {
          content: '<';
        }

        &__tag::after {
          content: '>';
        }

        &__id {
          color: theme.$text-secondary;
          font-style: italic;
        }

        &__id::before {
          content: '#';
        }

        &__class {
          color: theme.$text-primary;
        }

        &__class::before {
          content: '.';
        }
      }

      &__text {
        @include type.type-style('body-short-01');

        position: relative;
        display: flex;
        margin-bottom: calc(0.5rem * 2);
        // font-style: italic;
        color: theme.$text-primary;
        font-weight: bold;

        > span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &::before {
          position: absolute;
          top: 0;
          right: 100%;
          content: '“';
        }

        &::after {
          content: '”';
        }
      }

      &__unique-id {
        @include type.type-style('helper-text-01');

        color: theme.$text-placeholder;
        text-align: right;
      }
    }

    &__search {
      .#{$prefix}--search-close {
        width: carbon--mini-units(6.5);
      }

      .#{$prefix}--search-input {
        padding-left: calc(0.5rem * 5);
      }
    }
  }
}

@include inventory;
