@use '@carbon/styles/scss/config' as *;
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme/theme';
@use '@carbon/styles/scss/type';

.#{$prefix}--options-shortcuts {
  p {
    @include type.type-style('helper-text-01');

    color: theme.$text-secondary;
  }

  &__key {
    @include type.type-style('code-01');

    display: flex;
    padding: spacing.$spacing-02 spacing.$spacing-03;
    border-radius: spacing.$spacing-01;
    margin-right: spacing.$spacing-02;
    background-color: theme.$layer-01;
    color: theme.$text-primary;

    &s {
      display: flex;
      flex-direction: row;
    }

    svg {
      width: spacing.$spacing-05;
      height: spacing.$spacing-05;
      fill: currentColor;
    }
  }
}
