@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/type';

.#{$prefix}--options-shortcuts {
  p {
    @include type.type-style('helper-text-01');

    color: theme.$text-secondary;
  }

  &__key {
    @include type.type-style('code-01');

    display: flex;
    padding: calc(0.5 * 0.5rem) calc(1  * 0.5rem);
    border-radius: calc(0.25 * 0.5rem);
    margin-right: calc(0.5 * 0.5rem);
    background-color: theme.$layer-01;
    color: theme.$text-primary;

    &s {
      display: flex;
      flex-direction: row;
    }

    svg {
      width: calc(2 * 0.5rem);
      height: calc(2 * 0.5rem);
      fill: currentColor;
    }
  }
}
