@use '@carbon/styles/scss/config' as *;
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme/theme';
@use '@carbon/styles/scss/type';

@mixin resize-browser {
  .#{$prefix}--popup-resize-browser {
    &__container {
      margin-top: spacing.$spacing-07;
    }

    &,
    &__container {
      margin-bottom: spacing.$spacing-05;
    }

    .#{$prefix}--popup-resize-browser__label {
      @include type.type-style('label-01');

      margin-bottom: spacing.$spacing-03;
      color: theme.$text-secondary;
    }

    .#{$prefix}--content-switcher-btn {
      padding-right: 0;
    }
  }
}
