@mixin resize-browser {
  .#{$prefix}--popup-resize-browser {
    &__container {
      margin-top: $carbon--spacing-07;
    }

    &,
    &__container {
      margin-bottom: $carbon--spacing-05;
    }

    .#{$prefix}--popup-resize-browser__label {
      @include carbon--type-style('label-01');

      margin-bottom: $carbon--spacing-03;
      color: $text-02;
    }

    .#{$prefix}--content-switcher-btn {
      padding-right: 0;
    }
  }
}
