.#{$specs-prefix} {
  &-grid-tooltip {
    max-width: carbon--mini-units(34);
    margin-bottom: -1 * carbon--mini-units(0.5);

    &__title {
      @include carbon--type-style('productive-heading-01');

      margin-bottom: carbon--mini-units(0.5);
    }

    &__title,
    &__classlist li {
      display: inline-block;
      margin-right: carbon--mini-units(0.5);
    }

    &__classlist {
      @include carbon--type-style('code-01');

      display: inline-block;
      padding: 0;
      margin: 0;
      margin-bottom: carbon--mini-units(0.5);
      list-style-type: none;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-right: carbon--mini-units(0.5);
        margin-bottom: carbon--mini-units(0.5);
        border-radius: 3px;
      }

      li::before {
        display: none;
      }

      li::after {
        content: ',';
      }

      li:last-child {
        margin-right: 0;
      }

      li:last-child::after {
        content: '';
      }

      li#{&}--active {
        padding: 0 carbon--mini-units(1);
      }

      li#{&}--active::after {
        display: none;
      }
    }

    // tooltip theme
    @mixin grid-tooltip--theme {
      &__title {
        color: $text-01;
      }

      &__classlist--active {
        background-color: $ui-02;
        color: $text-01;
      }
    }

    @include grid-tooltip--theme;
  }
}
