$grid-opacity: 0.5;
$grid-border-size: 1px;
$grid-border-color: $grid-color;
$grid-border-opacity: 1;

@import '2x';
@import 'mini-unit';

.#{$prefix}--devtools {
  position: absolute;
  z-index: $zindex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  opacity: 1;
  pointer-events: none;
  transition: opacity $transition-fade;

  * {
    box-sizing: border-box;
  }

  // hide grid on click
  html:active &,
  body:active & {
    opacity: 0;
  }

  &--interact {
    pointer-events: initial;

    // hide grid on click
    html:active &,
    body:active & {
      opacity: 1;
    }
  }
}
