.#{$specs-prefix} {
  &-dependencies-tooltip {
    min-width: calc(20 * #{spacing.$spacing-03});
    max-width: calc(40 * #{spacing.$spacing-03});

    &__group {
      margin-top: spacing.$spacing-03;
    }

    &__title {
      @include type.type-style('productive-heading-01');

      margin-bottom: spacing.$spacing-03;
    }

    &__sub {
      @include type.type-style('label-01');

      display: inline-block;
      margin-bottom: spacing.$spacing-02;
    }

    p#{&}__empty {
      @include type.type-style('helper-text-01');

      margin-right: 25%;
    }

    &__list {
      display: inline-block;
      padding: 0;
      margin: 0;
      list-style-type: none;

      &-item {
        display: inline-block;
        padding: 0 spacing.$spacing-03;
        border-radius: 3px;
        margin-right: grid.$grid-gutter * 2;
        margin-bottom: grid.$grid-gutter * 2;
      }

      &-item::before {
        display: none;
      }
    }

    // tooltip theme
    @mixin dependencies-tooltip--theme {
      &__title {
        color: theme.$text-primary;
      }

      &__empty,
      &__sub {
        color: theme.$text-secondary;
      }

      &__list--unorder,
      &__list-item {
        background-color: theme.$layer-02;
        color: theme.$text-primary;
      }
    }

    @include dependencies-tooltip--theme;
  }
}
