// @mixin empty--theme { }

@mixin empty {
  // @include link;

  .#{$prefix}--popup-empty {
    margin-top: $carbon--spacing-06;
    margin-bottom: $carbon--spacing-07;

    &__heading,
    &__copy {
      margin-bottom: $spacing-03;
      width: 90%;
    }

    &__heading {
      @include carbon--type-style('productive-heading-03');
    }

    &__copy {
      @include carbon--type-style('body-long-01');
    }
  }
}
