@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing';
@use '@carbon/react/scss/type';

@mixin empty {
  .#{$prefix}--popup-empty {
    margin-top: spacing.$spacing-06;
    margin-bottom: spacing.$spacing-07;

    &__heading,
    &__copy {
      width: 90%;
      margin-bottom: spacing.$spacing-03;
    }

    &__heading {
      @include type.type-style('heading-03');
    }

    &__copy {
      @include type.type-style('body-01');
    }
  }
}

@include empty;
