@use '@carbon/styles/scss/config' as *;
// @use '@carbon/styles/scss/breakpoint';
// @use '@carbon/styles/scss/grid';
// @use '@carbon/styles/scss/fonts';
// @use '@carbon/styles/scss/motion';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme/theme';
// @use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/type';

@mixin page-info {
  .#{$prefix}--page-info {
    &__group {
      margin-bottom: spacing.$spacing-09;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__notification {
      max-width: initial;
      margin: 1px 0;
    }

    &__group-title {
      @include type.type-style('productive-heading-02');

      padding-bottom: spacing.$spacing-03;
      border-bottom: 1px solid theme.$layer-accent-01;
      margin-top: spacing.$spacing-08;
      color: theme.$text-primary;
    }

    &__row {
      @include type.type-style('body-long-01');

      padding-bottom: spacing.$spacing-06;
      border-bottom: 1px solid theme.$layer-accent-01;
      color: theme.$text-secondary;
    }

    &__row-title,
    &__row-value {
      margin-top: spacing.$spacing-05;
      // margin-bottom: spacing.$spacing-05;
    }

    &__row-title {
      &__main {
        @include type.type-style('productive-heading-01');
      }

      &__sub {
        @include type.type-style('helper-text-01');

        margin-top: spacing.$spacing-01;
      }
    }

    .#{$prefix}--snippet {
      max-width: 100%;
      margin-right: spacing.$spacing-02;
      margin-bottom: spacing.$spacing-02;
      font-size: 0;

      code {
        display: block;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
      }
    }

    .#{$prefix}--link {
      word-break: break-all;
    }

    &__search {
      margin-top: spacing.$spacing-05;
    }

    &__empty p {
      @include type.type-style('body-long-01');

      margin-top: spacing.$spacing-05;
      color: theme.$text-secondary;

      span {
        color: theme.$text-primary;
      }
    }
  }
}
