@import '~@carbon/grid/scss/prefix';
@import "~@carbon/layout/scss/breakpoint";
@import "~@carbon/layout/scss/mini-unit";
@import "~@carbon/grid/scss/grid";
@import "~@carbon/colors/scss/colors";
@import "~@carbon/motion/scss/motion";

$z-index: 77777777777;

$transition-in: .3s carbon--motion('entrance');
$transition-out: .15s carbon--motion('exit');

$grid-color: map-get(map-get($carbon--colors, 'blue'), 60);
$grid-opacity: .5;
$grid-border-size: 1px;
$grid-border-color: $grid-color;
$grid-border-opacity: 1;

$grid-inner-color:  $grid-color;
$grid-inner-opacity: $grid-opacity;
$grid-inner-border-size: $grid-border-size;
$grid-inner-border-color: $grid-border-color;
$grid-inner-border-opacity: $grid-border-opacity;

$grid-outer-color: $grid-color;
$grid-outer-opacity: $grid-inner-opacity / 2;
$grid-outer-border-size: $grid-border-size;
$grid-outer-border-color: $grid-border-color;
$grid-outer-border-opacity: $grid-border-opacity;

$grid-mini-unit-color: $grid-color;
$grid-mini-unit-opacity: $grid-color;
$grid-mini-unit-border-size: $grid-border-size;
$grid-mini-unit-border-color: $grid-border-color;
$grid-mini-unit-border-opacity: $grid-opacity;

html,
body {
    padding: 0;
    margin: 0;
}

* {
  box-sizing: border-box;
}

body {
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: auto;
        min-height: 100vh;
        width: auto;
        display: block;
        pointer-events: none;
        z-index: $z-index;

        background-attachment: scroll;

        background-size: $carbon--mini-unit-size $carbon--mini-unit-size;
        background-image:
        linear-gradient(to right, rgba($grid-mini-unit-border-color, $grid-mini-unit-border-opacity) 1px, transparent 1px),
        linear-gradient(to bottom, rgba($grid-mini-unit-border-color, $grid-mini-unit-border-opacity) 1px, transparent 1px);

        opacity: 0;
        // transition: opacity $transition-out;
    }

    &.#{$prefix}--grid--fixed::after {
        background-attachment: fixed;
    }

    &.#{$prefix}--grid--mini-unit {
        &::after {
            opacity: 1;
            // transition: opacity $transition-in;
        }
    }

    &.#{$prefix}--grid--hide,
    html:active &,
    &:active {
        &::after {
            opacity: 0;
            // transition: opacity $transition-out;
        }
    }
}

.#{$prefix}--grid {
    &-container {
        position: absolute;
        z-index: $z-index;
        height: auto;
        width: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        pointer-events: none;
        opacity: 1;
        // transition: opacity $transition-in;

        .#{$prefix}--grid--hide &,
        html:active &,
        body:active & {
            opacity: 0;
            // transition: opacity $transition-out;
        }

        [class^="#{$prefix}--col-"]::before {
            display: block;
            content: ''
        }

        [class^="#{$prefix}--col-"] {
            background-color: transparent;
            box-shadow: none;
            // transition: background-color $transition-out, box-shadow $transition-out;

            &::before {
                background-color: transparent;
                box-shadow: none;
                // transition: background-color $transition-out, box-shadow $transition-out;
            }
        }

        &.#{$prefix}--grid--inner {
            [class^="#{$prefix}--col-"] {
                &::before {
                    background-color: rgba($grid-inner-color, $grid-inner-opacity);
                    // transition: background-color $transition-in;
                }
            }
        }

        &.#{$prefix}--grid--outer {
            [class^="#{$prefix}--col-"] {
                &::before {
                    box-shadow:
                        $carbon--grid-gutter/2 0 0 rgba($grid-outer-color, $grid-outer-opacity),
                        ($carbon--grid-gutter/2 * -1) 0 0 rgba($grid-outer-color, $grid-outer-opacity);
                    // transition: box-shadow $transition-in;
                }
            }
        }

        &.#{$prefix}--grid--inner-border {
            [class^="#{$prefix}--col-"] {
                &::before {
                    box-shadow:
                        $grid-inner-border-size 0 0 rgba($grid-inner-border-color, $grid-inner-border-opacity),
                        ($grid-inner-border-size * -1) 0 0 rgba($grid-inner-border-color, $grid-inner-border-opacity);
                    // transition: box-shadow $transition-in;
                }
            }
        }

        &.#{$prefix}--grid--outer.#{$prefix}--grid--inner-border {
            [class^="#{$prefix}--col-"] {
                &::before {
                    box-shadow:
                        $carbon--grid-gutter/2 0 0 rgba($grid-outer-color, $grid-outer-opacity),
                        ($carbon--grid-gutter/2 * -1) 0 0 rgba($grid-outer-color, $grid-outer-opacity),
                        $grid-inner-border-size 0 0 rgba($grid-inner-border-color, $grid-inner-border-opacity),
                        ($grid-inner-border-size * -1) 0 0 rgba($grid-inner-border-color, $grid-inner-border-opacity);
                    // transition: box-shadow $transition-in;
                }
            }
        }

        &.#{$prefix}--grid--outer-border {
            [class^="#{$prefix}--col-"] {
                box-shadow: $grid-outer-border-size 0 0 rgba($grid-outer-border-color, $grid-outer-border-opacity);
                // transition: box-shadow $transition-in;
                
                &:first-child {
                    box-shadow: $grid-outer-border-size 0 0 rgba($grid-outer-border-color, $grid-outer-border-opacity),
                    ($grid-outer-border-size * -1) 0 0 rgba($grid-outer-border-color, $grid-outer-border-opacity);
                }
            }
        }
    }

    &-overlay {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: $z-index;
        
        &,
        .#{$prefix}--grid,
        .#{$prefix}--row,
        [class^="#{$prefix}--col-"],
        [class^="#{$prefix}--col-"]::before {
            height: 100vh;
        }
    }
}
