/* stylelint-disable no-invalid-position-at-import-rule */

$feature-flags: (
  enable-css-custom-properties: true,
);

@import '@carbon/grid/scss/prefix';
@import '@carbon/layout/scss/breakpoint';
@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/font-family';
@import '@carbon/type/scss/styles';
@import '@carbon/type/scss/font-face/sans';
@import '@carbon/grid/scss/grid';
@import '@carbon/themes/scss/themes';
@import '~carbon-components/scss/components/form/form';
@import '~carbon-components/scss/components/select/select';
@import '~carbon-components/scss/components/toggle/toggle';
@import '~carbon-components/scss/components/structured-list/structured-list';
@import '~carbon-components/scss/components/button/button';

$carbon--theme: $carbon--theme--white;

@include carbon--font-face-sans;
@include carbon--theme;

@import './components/Footer';
@import './components/Shortcuts';
@import './components/Reset';

body {
  background: $ui-background;
  color: $text-01;
}

@media (prefers-color-scheme: dark) {
  body {
    @include carbon--theme(
      $theme: $carbon--theme--g100,
      $emit-custom-properties: true
    );
  }
}

.#{$prefix}--options {
  margin-top: $carbon--spacing-05;
  margin-bottom: $carbon--spacing-07;

  .#{$prefix}--accordion {
    width: auto;
    margin-right: -($carbon--grid-gutter/2);
    margin-left: -($carbon--grid-gutter/2);

    &__content {
      margin-top: $carbon--spacing-05;
    }
  }

  &__title,
  .#{$prefix}--form-item {
    margin-bottom: $carbon--spacing-05;
  }

  &__title {
    @include carbon--type-style('productive-heading-04');
  }
}
