@use 'sass:math';

// Import Carbon Tokens
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/breakpoint';
@use '@carbon/react/scss/fonts';
@use '@carbon/react/scss/grid';
@use '@carbon/react/scss/motion';
@use '@carbon/react/scss/spacing';
@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/type';

// Import Carbon Components
@use '@carbon/react/scss/components/form';
@use '@carbon/react/scss/components/select';
@use '@carbon/react/scss/components/toggle';
@use '@carbon/react/scss/components/structured-list';
@use '@carbon/react/scss/components/button';

// Import Devtools Components
@use './components/Footer';
@use './components/Shortcuts';
@use './components/Reset';

:root {
  @include theme.theme(themes.$g90);
}

@media (prefers-color-scheme: light) {
  :root {
    @include theme.theme(themes.$white);
  }
}

body {
  background: theme.$background;
  color: theme.$text-primary;
}

.#{$prefix}--options {
  margin-top: spacing.$spacing-05;
  margin-bottom: spacing.$spacing-07;

  .#{$prefix}--accordion {
    width: auto;
    margin-right: math.div(grid.$grid-gutter, -2);
    margin-left: math.div(grid.$grid-gutter, -2);

    &__content {
      margin-top: spacing.$spacing-05;
    }
  }

  &__title,
  .#{$prefix}--form-item {
    margin-bottom: spacing.$spacing-05;
  }

  &__title {
    @include type.type-style('heading-04');
  }
}
