@use '@carbon/styles/scss/config' as *;
@use '@carbon/styles/scss/fonts';
@use '@carbon/styles/scss/grid';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/theme/theme';
@use '@carbon/styles/scss/type';

@use '@carbon/styles/scss/components/form';
@use '@carbon/styles/scss/components/select';
@use '@carbon/styles/scss/components/toggle';
@use '@carbon/styles/scss/components/structured-list';
@use '@carbon/styles/scss/components/button';

$carbon--theme: themes.$white;

@use './components/Footer';
@use './components/Shortcuts';
@use './components/Reset';

body {
  @include theme.theme;

  background: theme.$background;
  color: theme.$text-primary;
}

@media (prefers-color-scheme: dark) {
  body {
    @include theme.theme(themes.$g100);
  }
}

.#{$prefix}--options {
  margin-top: spacing.$spacing-05;
  margin-bottom: spacing.$spacing-07;

  .#{$prefix}--accordion {
    width: auto;
    margin-right: -(grid.$grid-gutter);
    margin-left: -(grid.$grid-gutter);

    &__content {
      margin-top: spacing.$spacing-05;
    }
  }

  &__title,
  .#{$prefix}--form-item {
    margin-bottom: spacing.$spacing-05;
  }

  &__title {
    @include type.type-style('productive-heading-04');
  }
}
