.#{$prefix}--highlight {
    &::after { 
        opacity: 0;
        transition: opacity $transition-fade;
    }

    &.#{$prefix}--highlight {
        &--grid,
        &--specs,
        &--inventory {
            &::after {
                content: '';
                pointer-events: none;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                transform: translate(0,0);
                z-index: $zindex - 1;
                opacity: 1;
            }
        }
    }

    &--relative {
        position: relative;
    }
    
    &--inventory::after {
        background-color: rgba($inventory-color, .5);
    }
    
    &--specs::after {
        background-color: rgba($specs-color, .5);
    }
    
    &--grid::after {
        background-color: rgba($grid-color, .5);
    }
}