.#{$prefix}--highlight {
    &::after { 
        opacity: 0;
        transition: opacity $transition-fade;
    }

    &.#{$prefix}--highlight {
        &--grid,
        &--specs,
        &--inventory {
            &::after {
                content: '';
                pointer-events: none;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                transform: translate(0,0);
                z-index: $zindex - 1;
                opacity: .5;
                background-color: currentColor;
            }
        }
        
        &--outline::after {
            background: none;
            opacity: 1;
            box-shadow: inset 0 0 0 1px currentColor;
        }
    }

    &--relative {
        position: relative;
    }
    
    &--inventory::after {
        color: $inventory-color;
    }
    
    &--specs::after {
        color: $specs-color;
    }
    
    &--grid::after {
        color: $grid-color;
    }
}