$highlight-opacity: .5;

.#{$prefix}--highlight {
    
    &::after { 
        opacity: 0;
        transition: opacity $transition-fade,  background-color $transition-fade;
    }

    &.#{$prefix}--highlight {
        &--grid,
        &--specs,
        &--inventory {
            &::after {
                content: '';
                pointer-events: none;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                transform: translate(0,0);
                z-index: $zindex - 1;
                opacity: $highlight-opacity;
                background-color: currentColor;
            }
        }
        
        &--outline::after {
            background: none;
            opacity: 1;
            box-shadow: inset 0 0 0 1px currentColor;
        }
        
        &--inline::after {
            display: none;
        }
    }

    &--relative {
        position: relative;
    }
    
    &--inventory {
        &::after {
            color: $inventory-color;
        }
        
        &.#{$prefix}--highlight--inline {
            background-color: rgba($inventory-color, $highlight-opacity);
        }
    }
    
    &--specs {
        &::after {
            color: $specs-color;
        }
        
        &.#{$prefix}--highlight--inline {
            background-color: rgba($specs-color, $highlight-opacity);
        }
    }
    
    &--grid {
        &::after {
            color: $grid-color;
        }
        
        &.#{$prefix}--highlight--inline {
            background-color: rgba($grid-color, $highlight-opacity);
        }
    }
        
    body:active &::after {
        opacity: 0;
    }
}