@import '@carbon/grid/scss/prefix';
@import '@carbon/layout/scss/breakpoint';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/themes';
@import '@carbon/type/scss/font-family';
@import '@carbon/type/scss/styles';
@import '@carbon/type/scss/font-face/sans';
@import '@carbon/grid/scss/grid';
@import '@carbon/themes/scss/themes';
@import '~carbon-components/scss/components/form/form';
@import '~carbon-components/scss/components/select/select';
@import '~carbon-components/scss/components/toggle/toggle';
@import '~carbon-components/scss/components/structured-list/structured-list';

$carbon--theme: $carbon--theme--white;

@include carbon--font-face-sans;
@include carbon--theme;

@import './components/Footer';
@import './components/Shortcuts';

body {
    background: $ui-background;
    color: $text-01;
}

.#{$prefix}--options {
    margin-top: $carbon--spacing-05;
    margin-bottom: $carbon--spacing-07;

    .#{$prefix}--accordion {
        margin-left: -($carbon--grid-gutter/2);
        margin-right: -($carbon--grid-gutter/2);
        width: auto;

        &__content {
            margin-top: $carbon--spacing-05;
        }
    }
    
    &__title,
    .#{$prefix}--form-item {
        margin-bottom: $carbon--spacing-05;
    }
    
    &__title {
        @include carbon--type-style('productive-heading-04');
    }
}