@use '@carbon/styles/scss/config' as *;
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme/theme';
@use '@carbon/styles/scss/type';

.#{$prefix}--options-reset {
  &__title {
    @include type.type-style('productive-heading-01');

    margin-bottom: spacing.$spacing-05;
    color: theme.$text-primary;
  }

  &__helper {
    @include type.type-style('helper-text-01');

    margin-bottom: spacing.$spacing-05;
    color: theme.$text-secondary;
  }

  &__status {
    @include type.type-style('helper-text-01');

    margin-top: spacing.$spacing-05;
    color: theme.$support-success;

    svg {
      margin-bottom: -3px; /* offsets icon */
      fill: currentColor;
    }
  }
}
