@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/type';

.#{$prefix}--options-reset {
  &__title {
    @include type.type-style('heading-compact-01');

    margin-bottom: calc(0.5rem * 2);
    color: theme.$text-primary;
  }

  &__helper {
    @include type.type-style('helper-text-01');

    margin-bottom: calc(0.5rem * 2);
    color: theme.$text-secondary;
  }

  &__status {
    @include type.type-style('helper-text-01');

    margin-top: calc(0.5rem * 2);
    color: theme.$support-success-inverse;

    svg {
      margin-bottom: -3px; /* offsets icon */
      fill: currentColor;
    }
  }
}
