@mixin specs {
  .#{$prefix}--popup__specs {
    margin-right: -($carbon--grid-gutter / 2);

    &-outline {
      margin-top: $carbon--spacing-03;
      margin-bottom: $carbon--spacing-03;
    }

    &-icon {
      width: 20px;
      height: 20px;
      margin-top: -2px;
      margin-right: $carbon--spacing-03;
      fill: currentColor;
      float: left;
    }

    .#{$prefix}--tile__checkmark svg {
      width: 20px;
      height: 20px;
    }
  }
}
