@use "sass:math";
@use "@carbon/react/scss/config" as *;
@use "@carbon/react/scss/grid";

@mixin more-options {
  .#{$prefix}--more-options {
    margin-right: math.div(grid.$grid-gutter, -2);
    float: right;

    svg {
      // fixes issue where the click event gets hung up on svg and won't get executed.
      pointer-events: none;
    }
  }

  .#{$prefix}--overflow-menu-options a {
    text-decoration: none;
  }
}

@include more-options;
