@mixin more-options {
  .#{$prefix}--more-options {
    margin-right: -$carbon--grid-gutter / 2;
    float: right;

    svg {
      // fixes issue where the click event gets hung up on svg and won't get executed.
      pointer-events: none;
    }
  }

  .#{$prefix}--overflow-menu-options a {
    text-decoration: none;
  }
}
