@use 'sass:math';

@use '@carbon/styles/scss/config' as *;
@use '@carbon/styles/scss/grid';

@mixin loading {
  .#{$prefix}--popup-loading {
    width: initial;
    height: 120px;
    margin-right: math.div(grid.$grid-gutter, -2);
    margin-left: math.div(grid.$grid-gutter, -2);
  }
}
