name: PR Check

on:
  push:
    branches: [ base ]
  pull_request:
    branches: [ base ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
  
    - name: Install dependencies
      run: yarn
    - name: Build packages
      run: yarn build
    - name: Test packages
      run: yarn test
